<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>F# News</title>
    <link rel="apple-touch-icon-precomposed" href="/Content/Images/favicon152.png">

    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/fsharpnews")

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-48090222-1', 'fsharpnews.org');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="pull-left">
                <h1><strong>F# News</strong></h1>
                @RenderSection("header", required: false)
            </div>
            <div class="hidden-xs pull-right small text-muted">
                Created by <a href="https://twitter.com/xkrt">Pavel Martynov</a>
                | <a href="https://github.com/xkrt/FSharpNews">Source code</a>
            </div>
            <div class="clearfix"></div>
        </header>

        <article style="display: none" data-bind="visible: true">
            @RenderBody()
        </article>
    </div>

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/moment")
    @Scripts.Render("~/bundles/js/fsharpnews")
    @RenderSection("scripts", required: false)
</body>
</html>
