<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>F# News</title>
    <link rel="apple-touch-icon-precomposed" href="/Content/favicon152.png">
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/fsharpnews")
</head>
<body>
    <div class="container">
        <header class="header">
            <h1><strong>F# News</strong></h1>
            @RenderSection("header", required: false)
        </header>
        <article>
            @RenderBody()
        </article>
    </div>
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/moment")
    @Scripts.Render("~/bundles/js/fsharpnews")
    @RenderSection("scripts", required: false)
</body>
</html>
